@use "./layout-spaces.scss";
@use "./form.scss";

:root {
  --bg-color: #f3f2f1;
  --blue-700: #2a224f;
  --gray-100: #d8dae5;
  --gray-200: #ececec;
  --gray-400: #667;
  --gray-500: #828282;
  --gray-600: #414141;
  --gray-800: #282a2f;
  --gray-900: #222222;
  --orange-400: #fa7436;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
