@use "./layout-spaces.scss";
@use "./form.scss";

:root {
  --bg-color: #f3f2f1;
  --gray-900: #222222;
  --orange-400: #fa7436;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
