.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &--buttons {
    display: flex;
    gap: 30px;
  }
}

.content {
  display: flex;
  width: 100%;
  height: 600px;
  margin-top: 64px;

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;

    h1 {
      color: var(--gray-900);
      font-family: var(--font-volkhov);
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 70px;

      span {
        color: var(--orange-400);
      }
    }

    p {
      color: var(--gray-400);
      font-family: var(--font-poppins);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;

      margin: 32px 0px 78px 0px;
    }

    a {
      align-self: self-start;
    }
  }

  &-right {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
    position: relative;

    &--tourist {
      z-index: 1;
    }

    &--airplane {
      position: absolute;
      top: -20px;
      right: -80px;
    }

    &--elipse {
      position: absolute;
      bottom: 45px;
      left: -10px;
    }

    &--award {
      position: absolute;
      z-index: 2;
      bottom: 350px;
      right: 190px;
    }

    &--rate {
      position: absolute;
      z-index: 2;
      bottom: 120px;
      right: 130px;
    }

    &--map {
      position: absolute;
      z-index: 2;
      bottom: 230px;
      right: 120px;
    }
  }
}
