.container {
  background: #fff;
  display: flex;
  width: 100%;
  padding: 24px;
  gap: 54px;
  border-radius: 20px;
  border: 1px solid #fff;

  > img {
    border-radius: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    h2 {
      color: var(--gray-800);
      font-family: var(--font-poppins);
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &--options {
      display: flex;
      flex-direction: column;
      gap: 4px;

      margin-top: 38px;

      span {
        color: var(--gray-600);
        font-family: var(--font-poppins);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }

    &--card-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        display: flex;
        align-items: center;
        gap: 4px;

        h2 {
          color: var(--gray-800);
          font-family: var(--font-poppins);
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}
