.container {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
  text-decoration: none;

  h1 {
    color: var(--gray-900);
    font-family: var("--font-volkhov");
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.006em;
  }
}
